extends layout

block style
  link(rel="stylesheet", href="../public/css/survey-form.css")

block main
  h1 #{name}
  p.description #{desc}
  h6 End Date: #{closeDate}
  
  div.options_block
    each answer, index in answers
      div.answer_count
        div.status_bar
        span #{answer.name} 
        span #{answer.count}