extends layout

block style
  link(rel="stylesheet", href="../public/css/survey-form.css")

block script 
  script(src="../../../../public/scripts/survey-form.js") 

block main
  div.survey
    form(id="survey-form" action="/new" method="POST")
      div.aligned
        h1 New Survey 
        div.submit
          input(class="submit" type="submit" value="Create!")
          
      div.field
        input(
          type="text"
          class="input"
          name="name" 
          placeholder="What question is on your mind?"
        )

      div.field
        input(
            type="textarea"
            class="input"
            name="desc" 
            placeholder="You can elaborate here if you want..."
          )

      div.spaceBetween
        label Should we add an end date?
        input(type="date" class="input" name="closeDate")

      div.field
        label(class="switch" for="checkbox") 
          div Can people give multiple answers?
          input(type="checkbox" name="chooseMany" id="checkbox")
          div(class="slider round")

      div.spaceBetween
        h2 Add possible answers
        a(href="#" class="inlineBtn newAnswer") &plus;

      div.answers
